/* Typo */
body{
  font-family: 'Lato', sans-serif;
}

#nav_color p{
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  line-height: 100px;
}

#nav_color li{
  display: inline-block;
  list-style: none;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 17px;
}

#nav_color li:hover{
  color: #1abc9c;
}





/*Colori*/
#green{
  background-color: green;
}

#nav_color{
  background-color: #2c3e50;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  line-height: 100px;
  height: 100px;
}
#bottom_header_color{
  background-color: #1abc9c;
  margin-top: 100px;
  height: 550px;
  position: relative;
}

#first_footer_color{
  background-color: #3a546d;

  height: 400px;
}

#second_footer_color{
  background-color: #2c3e50;

  height: 100px;
}

#first-color{
  /* background-color: #ba4b63; */
  background-image: url(../img/casetta.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#second-color{
  /* background-color: #1ea4b6; */
  background-image: url(../img/torta.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#third-color{
  /* background-color: #140f0f; */
  background-image: url(../img/circo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#fourth-color{
  /* background-color: #1c83c1; */
  background-image: url(../img/game.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#fifth-color{
  /* background-color: #0e38b5; */
  background-image: url(../img/cassaforte.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#sixth-color{
  /* background-color: #ccb2a3; */
  background-image: url(../img/sottomarino.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#stella2{
  color: #2c3e50;
}


/*Spaziature*/
#margin{
  margin-top: 150px;

}

#margin_portfolio{
  margin-left: 20px;
  margin-top: 150px;
  margin-bottom: 30px;
}

#margin_portfolio h2{
  font-size: 48px;
  font-weight: bold;
  color: #2c3e50;
}

.main_height{
  height: 250px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.main_height:hover{
  background-color: #1abc9c;
  opacity: 1;
}



/* #first-color{
  margin-top: 150px;
} */

.central_main_margin{
  margin-top: 20px;
}

.wrapper{
  width: 90%;
  margin: auto;
}

#center{
  margin-left: 35px;
  margin-right: 35px;
}

#posizione{
  margin-right: 25px;
}

/*************************************/

/*Mix*/
#dimensioni{
  display: none;
}

.central_banner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 300px;
  text-align: center;
}

.central_banner h1{
  font-size: 64px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.central_banner img{
  width:250px;
  height: 250px;
}

.central_banner p{
  margin-top: 15px;
  font-size: 24px;
  color: white;
}

.white_container{
  height: 600px;
  background-color: green;
}

.about{
  height: 50px;
  background-color: green;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.central_text{
  text-align: center;
}

.auto{
  margin: auto;
  content: '';
  display: table;
  clear: both;
}

#barra{
  width: 112px;
  height: 4px;
  background-color: white;
  display: inline-block;
  line-height: 33px;
}

#barra2{
  width: 112px;
  height: 4px;
  background-color: #2c3e50;
  display: inline-block;
  line-height: 33px;
}

.fa-star{
  color: white;
}

/*Responsive*/
@media screen and (min-width: 50px){
  #nav_color p{
    font-size: 10px;
  }
}

@media screen and (min-width: 768px){

  /* #second-color{
    margin-top: 150px;
  } */

  .main_height{
    margin-left: 10px;
  }

  #nav_color p{
    font-size: 20px;
  }

}

@media screen and (min-width: 1200px){

  /* #third-color{
    margin-top: 150px;
  } */

  #nav_color p{
    font-size: 28px;
  }

}
