/*Colori*/
#nav_color{
  background-color: #2c3e50;


  height: 70px;
}
#bottom_header_color{
  background-color: #1abc9c;

  height: 400px;
}

#first_footer_color{
  background-color: #3a546d;

  height: 400px;
}

#second_footer_color{
  background-color: #2c3e50;

  height: 100px;
}

#first-color{
  background-color: #ba4b63;
}

#second-color{
  background-color: #1ea4b6;
}
#third-color{
  background-color: #140f0f;
}
#fourth-color{
  background-color: #1c83c1;
}
#fifth-color{
  background-color: #0e38b5;
}
#sixth-color{
  background-color: #ccb2a3;
}



/*Spaziature*/
#margin{
  margin-top: 150px;

}

.main_height{
  height: 250px;
  margin-bottom: 20px;
}

#first-color{
  margin-top: 150px;
}

.central_main_margin{
  margin-top: 20px;
}

/*Mix*/
.white_container{
  height: 600px;
  background-color: green;
}

.about{
  height: 100px;
  background-color: green;
  margin-top: 30px;
}

/*Responsive*/


@media screen and (min-width: 768px){

  #second-color{
    margin-top: 150px;
  }

  .main_height{
    margin-left: 10px;
  }

}

@media screen and (min-width: 1200px){

  #third-color{
    margin-top: 150px;
  }

}
